<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="app-touch-fullscreen" content="yes" />
    <link rel='icon' type='image/x-icon' href='favicon.png'/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- <img src='/img/logo2.jpg' data-src='../images/logo.jpg' /> -->
    <div id="root"></div>
    <!-- <script src='bundle.js'></script> -->
  </body>
</html>